<!--<div class="pad" (mousedown)="triggerSample()" (mouseup)="deactivate()" [class.pad__active]="active">-->
  <!--<label *ngIf="sample">{{ sample }}</label>-->
  <!--&lt;!&ndash;<div class="btn" (click)="chooseSample()">map</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<input type="file" hidden #fileInput>&ndash;&gt;-->
<!--</div>-->