.pad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  min-width: 10rem;
  max-height: 10rem;
  max-width: 10rem;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: silver;
}

.pad label {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: yellow;
  border: solid 1px gray;
  padding: 0.1rem;
  font-size: 0.76rem;
  flex-grow: 0;
  margin-left: auto;
  cursor: pointer;
}

.pad__active {
  background-color: yellow;
}

.hidden {
  display: none;
}
