//.flex-input, .flex-button {
//  display: -webkit-box !important;
//  display: -moz-box !important;
//  display: -webkit-flex !important;
//  display: -ms-flexbox !important;
//  display: flex !important;
//  -webkit-box-align: center;
//  -moz-box-align: center;
//  -o-box-align: center;
//  -ms-flex-align: center;
//  -webkit-align-items: center;
//  align-items: center;
//  padding: 0 4px 0 16px;
//}
//
//.flex-input > .pre, .flex-button > .pre, .flex-input > .post, .flex-button > .post {
//  -webkit-box-flex: 1;
//  -moz-box-flex: 1;
//  -o-box-flex: 1;
//  box-flex: 1;
//  -webkit-flex: 0 0 auto;
//  -ms-flex: 0 0 auto;
//  flex: 0 0 auto;
//  display: -webkit-box;
//  display: -moz-box;
//  display: -webkit-flex;
//  display: -ms-flexbox;
//  display: flex;
//  -webkit-box-align: center;
//  -moz-box-align: center;
//  -o-box-align: center;
//  -ms-flex-align: center;
//  -webkit-align-items: center;
//  align-items: center
//}
//
//.flex-input > .pre, .flex-button > .pre {
//  padding-right: 8px;
//}
//
//.flex-input > .pre i, .flex-button > .pre i {
//  width: 16px;
//  text-align: center
//}
//
//.flex-input > .stretch, .flex-button > .stretch {
//  -webkit-box-flex: 1;
//  -moz-box-flex: 1;
//  -o-box-flex: 1;
//  -ms-box-flex: 1;
//  box-flex: 1;
//  -webkit-flex-grow: 1;
//  flex-grow: 1;
//  line-height: 16px;
//  padding: 8px 16px 8px 0;
//  word-break: break-word;
//  min-width: 0
//}
//
//.flex-input {
//  background: #fff;
//  border: 1px solid #bdc2ce;
//  -webkit-border-radius: 6px;
//  border-radius: 6px;
//  overflow: hidden;
//  padding: 0 !important;
//  position: relative;
//  height: 40px;
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//  -webkit-transition: 0.16s all ease-out;
//  -moz-transition: 0.16s all ease-out;
//  -o-transition: 0.16s all ease-out;
//  -ms-transition: 0.16s all ease-out;
//  transition: 0.16s all ease-out;
//}
//
//.flex-input.focus {
//  border-color: #6255ac
//}
//
//.flex-input > .pre, .flex-input > .post {
//  padding: 8px;
//  background: #fff;
//  font-weight: 700;
//  color: #6255ac;
//  height: 40px;
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//}
//
//.flex-input > .pre .button.no-bg, .flex-input > .post .button.no-bg {
//  height: 40px;
//  width: 40px;
//  margin: -8px
//}
//
//.flex-input > .pre.no-bg, .flex-input > .post.no-bg {
//  background: transparent;
//  border: none
//}
//
//.flex-input > .pre.no-bg {
//  padding-right: 0
//}
//
//.flex-input > .pre.no-bg + .stretch input {
//  padding-left: 8px
//}
//
//.flex-input > .post.no-bg {
//  padding-left: 0
//}
//
//.flex-input > .pre > a, .flex-input > .pre > i,
//.flex-input > .pre > span, .flex-input > .post > a,
//.flex-input > .post > i,
//.flex-input > .post > span {
//  display: inline-block;
//  line-height: 24px;
//  padding: 0 8px;
//  min-width: 16px;
//  text-align: center
//}
//
//.flex-input > .pre i + span, .flex-input > .post i + span {
//  padding-left: 0
//}
//
//.flex-input > .pre span + i, .flex-input > .post span + i {
//  padding-left: 0
//}
//
//.flex-input > .stretch {
//  position: relative;
//  padding: 0 !important;
//}
//
//.flex-input > .stretch input,
//.flex-input > .stretch textarea,
//.flex-input > .stretch select,
//.flex-input > .stretch .tag-input,
//.flex-input > .stretch .mac-tag-autocomplete {
//  border: 0;
//  width: 100%;
//  -webkit-border-radius: 0;
//  border-radius: 0;
//  background: transparent
//}
//
//.flex-input.disabled {
//  background: #f4f6fe;
//  cursor: not-allowed
//}
//
//.flex-input input {
//  height: 38px
//}
