@import "flex-input";
@import "reset";
@import "material-icons";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~dropzone/dist/min/dropzone.min.css';


html {
  min-height: 100%
}

body {
  //background: #252526;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  //color: #6255ac;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  height: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 640px;
  user-select: none
}

.container {
  width: 1240px;
  margin: auto;
  position: relative;
}

.hidden {
  visibility: hidden;
}

.clearfix::after, .clearfix::before {
  content: '';
  display: block;
  clear: both;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
  color: #979eae;
}

a:hover {
  color: #6255ac
}

h1 {
  font-size: 16px;
  text-align: center;
  line-height: 24px
}
//
//.js-play-button i.icon-play {
//  display: block
//}
//
//.js-play-button i.icon-stop {
//  display: none
//}
//
//.js-play-button.active i.icon-play {
//  display: none
//}
//
//.js-play-button.active i.icon-stop {
//  display: block
//}
//
//.js-record-button.active {
//  border-color: #fd8e81;
//  background: #fd8e81;
//  -webkit-animation: recordfade 1.4s infinite;
//  -moz-animation: recordfade 1.4s infinite;
//  -o-animation: recordfade 1.4s infinite;
//  -ms-animation: recordfade 1.4s infinite;
//  animation: recordfade 1.4s infinite;
//}
//
//.js-record-button.active i {
//  color: #fff
//}
//
//*::-webkit-input-placeholder {
//  color: #979eae
//}
//
//label {
//  letter-spacing: 1px;
//  display: block;
//  font-size: 11px;
//  font-weight: bold;
//  line-height: 12px;
//  text-transform: uppercase;
//  padding-bottom: 8px;
//  color: #6255ac
//}
//
//
//.input-group {
//  display: inline-block;
//  width: 240px;
//}
//
//.input-group .message {
//  display: none
//}
//
//.input-group.error input, .input-group.error textarea, .input-group.error select, .input-group.error .flex-input {
//  border-color: #eac6c6;
//  z-index: 2;
//  position: relative;
//  -webkit-border-radius: 2px 2px 0 0;
//  border-radius: 2px 2px 0 0;
//  border-bottom: 0
//}
//
//.input-group.error input:focus, .input-group.error textarea:focus {
//  -webkit-box-shadow: inset 0 0 0 #f4f6fe, 0 0 4px 4px rgba(255, 91, 91, 0.5);
//  box-shadow: inset 0 0 0 #f4f6fe, 0 0 4px 4px rgba(255, 91, 91, 0.5)
//}
//
//.input-group.error .message {
//  display: block;
//  background: #ff5b5b;
//  -webkit-border-radius: 0 0 6px 6px;
//  border-radius: 0 0 6px 6px;
//  color: #fff;
//  font-size: 13px;
//  line-height: 16px;
//  margin-top: -4px;
//  padding: 16px 16px 12px;
//  position: relative;
//  z-index: 1
//}
//
//input {
//  -moz-osx-font-smoothing: grayscale;
//  -webkit-font-smoothing: antialiased;
//  background: #fff;
//  border: 1px solid #979eae;
//  -webkit-border-radius: 2px;
//  border-radius: 2px;
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//  color: #6255ac;
//  display: block;
//  font-family: 'Open Sans', sans-serif;
//  font-size: 13px;
//  height: 40px;
//  line-height: 38px;
//  text-align: left;
//  word-break: initial;
//  padding: 0 12px
//}
//
//input:focus {
//  border-color: #6255ac;
//  outline: none
//}
//
//#logo {
//  font-weight: bold;
//  font-size: 10px;
//  letter-spacing: 4px;
//  color: #6255ac;
//  text-shadow: 1px 1px #fff;
//  position: absolute;
//  top: 24px;
//  left: 24px;
//  line-height: 24px
//}
//
//#nav {
//  position: absolute;
//  right: 24px;
//  top: 24px
//}
//
//.columns {
//  display: -webkit-box;
//  display: -moz-box;
//  display: -webkit-flex;
//  display: -ms-flexbox;
//  display: flex;
//}
//
//.columns div {
//  -webkit-box-flex: 1;
//  -moz-box-flex: 1;
//  -o-box-flex: 1;
//  box-flex: 1;
//  -webkit-flex: 1 1 2px;
//  -ms-flex: 1 1 2px;
//  flex: 1 1 2px
//}
//
//.alt-key .hit {
//  cursor: copy !important
//}
//
//.keyboard.no-label .label {
//  opacity: 0;
//  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
//  filter: alpha(opacity=0)
//}
//
//@media (orientation: landscape) {
//  #mobile #logo {
//    font-size: 12px !important;
//    line-height: 1 !important
//  }
//
//  #mobile #credit {
//    font-size: 10px !important;
//    line-height: 1 !important
//  }
//
//  #mobile .app-wrap {
//    width: 270px !important
//  }
//
//  #mobile .key {
//    width: 90px !important;
//    height: 90px !important;
//  }
//
//  #mobile .key .label {
//    font-size: 10px !important
//  }
//
//  #mobile .loader {
//    width: 60px !important;
//    height: 30px !important;
//    position: fixed !important;
//    top: 50% !important;
//    left: 50% !important;
//    margin-left: -30px !important;
//    margin-top: 10px !important;
//  }
//
//  #mobile .loader .bar {
//    width: 5px !important
//  }
//
//  #mobile .overlay-content {
//    width: 200px !important;
//    -webkit-border-radius: 6px !important;
//    border-radius: 6px !important;
//    padding: 30px !important;
//  }
//
//  #mobile .overlay-content h2 {
//    font-size: 16px !important;
//    line-height: 1 !important;
//    margin-bottom: 16px !important
//  }
//
//  #mobile .overlay-content p {
//    font-size: 14px !important;
//    text-transform: none !important;
//    line-height: 1.2 !important;
//    margin-bottom: 20px !important
//  }
//
//  #mobile .overlay-content .button {
//    font-size: 12px !important;
//    line-height: 10px !important;
//    height: 32px !important;
//    -webkit-border-radius: 16px !important;
//    border-radius: 16px !important;
//    background: #6255ac !important;
//    color: #fff !important
//  }
//}
//
//.scrollable {
//  max-height: 292px;
//  min-width: 200px;
//  overflow-y: auto
//}
//
//.dropdown-list {
//  padding: 0;
//  overflow: hidden;
//  width: 240px;
//}
//
//.dropdown-list ul {
//  padding: 12px 0;
//  display: block;
//  margin: 0;
//}
//
//.dropdown-list ul a {
//  color: #979eae;
//  display: block;
//  line-height: 14px;
//  font-size: 13px;
//  cursor: pointer;
//  padding: 10px 40px 10px 24px;
//  font-weight: normal;
//  max-width: 320px;
//  white-space: nowrap;
//  overflow: hidden;
//  -o-text-overflow: ellipsis;
//  text-overflow: ellipsis;
//}
//
//.dropdown-list ul a.action {
//  text-transform: uppercase;
//  font-size: 11px;
//  letter-spacing: 1px;
//  color: #6255ac;
//}
//
//.dropdown-list ul a.action i {
//  display: inline-block;
//  text-align: center;
//  width: 12px;
//  margin-right: 8px
//}
//
//.dropdown-list ul a.action span {
//  display: inline-block
//}
//
//.dropdown-list ul a.active, .dropdown-list ul a:hover {
//  color: #fff;
//  background: #6255ac;
//  text-decoration: none;
//}
//
//.dropdown-list ul a.active i, .dropdown-list ul a:hover i {
//  color: #fff
//}
//
//.dropdown-list label {
//  padding: 24px 24px 8px 24px
//}
//
//.dropdown-list .scrollable ul {
//  padding-top: 0
//}
//
//.dropdown-list label + ul {
//  padding-top: 0
//}
//
//#will-not-be-saved {
//  width: 282px
//}
//
//#sign-in {
//  width: 200px
//}
//
//#error {
//  width: 240px
//}
//
//
//
//#tooltip {
//  z-index: 12;
//  background: rgba(127, 133, 157, 0.9);
//  -webkit-border-radius: 12px;
//  border-radius: 12px;
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//  color: #fff;
//  font-size: 10px;
//  font-weight: bold;
//  line-height: 20px;
//  margin-top: -16px;
//  opacity: 0;
//  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
//  filter: alpha(opacity=0);
//  padding: 0 8px;
//  position: fixed;
//  text-transform: uppercase;
//  -webkit-transition: opacity 0.1s ease-out, margin 0.1s ease-out;
//  -moz-transition: opacity 0.1s ease-out, margin 0.1s ease-out;
//  -o-transition: opacity 0.1s ease-out, margin 0.1s ease-out;
//  -ms-transition: opacity 0.1s ease-out, margin 0.1s ease-out;
//  transition: opacity 0.1s ease-out, margin 0.1s ease-out;
//  visibility: hidden;
//  white-space: nowrap;
//}
//
//#tooltip.active {
//  margin-top: -22px;
//  opacity: 1;
//  -ms-filter: none;
//  filter: none;
//  visibility: visible
//}
