@import "newStyle/plugins/datepicker";
@import "newStyle/header";
@import "newStyle/footer";
@import "newStyle/base";
@import "newStyle/main";
@import "newStyle/project-item";
@import "newStyle/project-controls";
@import "newStyle/fonts";
@import "newStyle/classified";
@import "newStyle/frontpage";
@import "newStyle/runner";
@import "newStyle/fb";
@import "newStyle/plugins/select2.min";
@import "newStyle/plugins/pagination";
@import "./newStyle/plugins/Magnific";
@import "./newStyle/plugins/stepper";
@import "./newStyle/select";
@import "./newStyle/settingsBar";
@import "./newStyle/popup";
@import "./newStyle/plugins/jquery.rateyo.css";
@import "./newStyle/plugins/toastr.scss";
@import "./newStyle/loading.scss";

.btn-dssdgg {
    height: 100px;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    opacity: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    font-size: 16px;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

/* ==========================================================================
	_SOME
========================================================================== */

//  CLEARFIX   @extend %clfix;
%clfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

section,
.container {
    @extend %clfix;
    max-width: 1300px;
    min-width: 320px;
    margin: auto;
    position: relative;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

:focus {
    outline: none !important;
}

img {
    vertical-align: middle;
    border: 0;
}

ul, li, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}


@media (max-width: 1399px) {
    #home .header .container {
        width: 1140px !important;
        min-width: 1140px !important;
    }
}
