.user-list__title {
  font-weight: 700;
  text-align: center;
  color: #444343;
  margin-top: 30px;
  font-size: 30px;
  margin-bottom: 30px;
}

.search__input {
  width: 300px;
  font-size: 16px;
  float: right;
}

.user-list__user-thumb {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 0 3px black;

  &-cell {
    padding: 8px 2px;
  }
}