<div class="container">
  <h1 class="user-list__title">Users list</h1>
  <div class="search__input-wrapper clearfix" [formGroup]="presetsForm">
    <mat-form-field class="search__input">
      <input matInput placeholder="Search" formControlName="search">
    </mat-form-field>
  </div>
  <mat-table #table matSort [dataSource]="list.data">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="photoUrl">
      <mat-header-cell *matHeaderCellDef> Photo</mat-header-cell>
      <mat-cell *matCellDef="let element" class="user-list__user-thumb-cell">
        <img class="user-list__user-thumb" [src]="element.photoUrl" alt="" (error)="element.photoUrl = '/assets/img/avatar.jpg'">
      </mat-cell>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username}}</mat-cell>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="dateOfBirth">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date of birth</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dateOfBirth}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header> City</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.city }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="list.count"
                 [pageSize]="model.limit"
                 (page)="handlePaginator($event)"
                 [pageSizeOptions]="[5, 10, 25, 50]">
  </mat-paginator>
</div>
