.colorpicker {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  min-width: 120px;

  & button {
    width: 100%;
  }
}

.colorpicker__input {
  visibility: hidden;
  position: absolute;
  width: 115px;
  left: 0;
}