<div class="colorpicker">
    <input #ignoredInput
           [cpIgnoredElements]="[ignoredButton, ignoredInput]"
           (colorPickerChange)="colorChangedHandler($event)"
           [(cpToggle)]="toggle"
           class="colorpicker__input hidden"
           [(colorPicker)]="color"/>
    <button #ignoredButton (click)="toggleColorPicker()" mat-raised-button [color]="buttonColor">
        {{buttonLabel}}
    </button>
</div>
