
.pagination__box {
    text-align: center;
    padding: 40px 10px 20px;

    .pagination {
        display: inline-block;

        .page-item {
            display: inline-block;
            text-transform: uppercase;

            a {
                font-style: normal;
                font-size: 12px;
                font-family: 'Open Sans', sans-serif;
                color: #4f4f4f;
                margin: 2px;
                padding: 4px;
                font-weight: 400;
            }

            &:hover {
                a {
                    font-weight: 600;
                }
            }

            &.active {
                 a {
                     font-weight: 600;
                 }
            }
        }

        .disabled {
            display: none;
            overflow: hidden;
            visibility: hidden;
        }
    }
}


