.stepper .stepper-input::-webkit-inner-spin-button,
.stepper .stepper-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.stepper .stepper-arrow {
    cursor: pointer;
    display: block;
    height: 50%;
    position: absolute;
    right: 0;
    text-indent: -99999px;
    width: 15px;
    z-index: 50;
}

.stepper {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.stepper .stepper-arrow.up {//
    background:  url("~images/arrow_up.jpg") 2px 7px no-repeat;
    top: 0;
}

.stepper .stepper-arrow.down {//
    background:  url("~images/arrow_down.jpg") 2px 2px no-repeat;
    bottom: 0;
}
