.presets-list__title {
  font-weight: 700;
  text-align: center;
  color: #444343;
  margin-top: 30px;
  font-size: 30px;
  margin-bottom: 30px;
}

.presets__controls-group {
  float: right;
}

.create-preset__input {
  font-size: 16px;
}

.presets__button {
  margin-left: 10px;
  width: 100px;
}

.presets__select {
  float: right;
}

.presets-list__actions {
  float: right;
}

.presets-list__settings {
  margin-right: 10px;
}