<div class="container">
    <h1 class="presets-list__title">Presets list</h1>
    <div [formGroup]="presetsForm" class="presets__controls clearfix">
        <div class="presets__controls-group">
            <mat-form-field class="create-preset__input">
                <input matInput placeholder="New preset name" formControlName="presetName">
            </mat-form-field>
            <button class="presets__button" mat-raised-button color="primary" [disabled]="!presetsForm.value.presetName" (click)="createPreset()">Add</button>
        </div>
    </div>
    <mat-table #table [dataSource]="presets">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <div class="presets-list__actions">
                    <a routerLink="preset/{{element.id}}">
                        <mat-icon class="presets-list__icon presets-list__settings">settings</mat-icon>
                    </a>
                    <a (click)="onEditClickHandler(element.id)">
                        <mat-icon class="presets-list__icon presets-list__settings">mode_edit</mat-icon>
                    </a>
                    <a (click)="onDeleteClickHandler(element.id)">
                        <mat-icon class="presets-list__icon">delete</mat-icon>
                    </a>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
