.keyboard-wrap {
  z-index: 6;
  text-align: center;
  margin: 72px 0 24px
}

.keyboard {
  margin: auto;
  height: 700px;
}

/*Set flex behaviour*/
.keyboard .number-row,
.keyboard .q-row,
.keyboard .a-row,
.keyboard .z-row {
  display: flex;
  justify-content: center;
}


.keyboard .key {
  display: inline-block;
  border-radius: 5px;
  height: 95%;
  margin: 3px;
  position: relative;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*border-bottom: 1px solid #fff;*/
}

.keyboard .key.transparent {
  border-bottom: 1px solid transparent
}

.keyboard .key .label {
  color: rgba(40, 42, 48, 0.4);
  font-size: 10px;

  letter-spacing: 1px;
  line-height: 10px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: -5px;
  /*white-space: nowrap;*/
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out
}

.keyboard .key.active {
  border-color:#ffc600;
  box-shadow: 0 0 18px #ffc600;
  /* opacity: .5;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
   filter: alpha(opacity=50);*/
  -webkit-transform: scale(.81, .81);
  -moz-transform: scale(.81, .81);
  -o-transform: scale(.81, .81);
  -ms-transform: scale(.81, .81);
  transform: scale(.81, .81);
  -webkit-transition-duration: .05s;
  -moz-transition-duration: .05s;
  -o-transition-duration: .05s;
  -ms-transition-duration: .05s;
  transition-duration: .05s
}

.keyboard .key.disabled {
  background: #eef0fa !important;
}

.keyboard .key.disabled .label {
  display: none
}

.keyboard .key.auto-active {
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-transition-duration: .05s;
  -moz-transition-duration: .05s;
  -o-transition-duration: .05s;
  -ms-transition-duration: .05s;
  transition-duration: .05s
}

.keyboard .number-row {
  height: 25%;
  overflow: hidden;
}

.keyboard .number-row .key {
  width: 6.94143167%;
}

.keyboard .number-row .key:last-child {
  /*width: 9.761388286%*/
}

.keyboard .q-row {
  height: 25%;
  overflow: hidden;
}

.keyboard .q-row .key {
  width: 6.94143167%;
}

.keyboard .q-row .key:first-child {
  /*width: 9.761388286%*/
}

.keyboard .a-row {
  height: 25%;
  overflow: hidden;
}

.keyboard .a-row .key {
  width: 6.94143167%;
}

.keyboard .a-row .key:first-child {
  /*width: 11.930585683%*/
}

.keyboard .a-row .key:last-child {
  /*width: 11.713665943%*/
}

.keyboard .z-row {
  height: 25%;
  overflow: hidden;
}

.keyboard .z-row .key {
  width: 6.94143167%;
}

.keyboard .z-row .key:first-child {
  /*width: 15.401301518%;*/
}

/*.keyboard .z-row .key:first-child .label {
    bottom: 8px;
    height: 20px;
    left: 8px;
    position: absolute;
    width: 20px;
}*/

.keyboard .z-row .key:first-child .label .tap, .keyboard .z-row .key:first-child .label .hold {
  position: absolute
}

.keyboard .z-row .key:first-child .label .tap {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.1s ease-out 0.1s;
  -moz-transition: all 0.1s ease-out 0.1s;
  -o-transition: all 0.1s ease-out 0.1s;
  -ms-transition: all 0.1s ease-out 0.1s;
  transition: all 0.1s ease-out 0.1s
}

.keyboard .z-row .key:first-child .label .hold {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(.5, .5);
  -moz-transform: scale(.5, .5);
  -o-transform: scale(.5, .5);
  -ms-transform: scale(.5, .5);
  transform: scale(.5, .5);
  -webkit-transition: all 0.1s ease-out 0s;
  -moz-transition: all 0.1s ease-out 0s;
  -o-transition: all 0.1s ease-out 0s;
  -ms-transition: all 0.1s ease-out 0s;
  transition: all 0.1s ease-out 0s
}

.keyboard .z-row .key:first-child .label.is-hold .hold {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.1s ease-out 0.1s;
  -moz-transition: all 0.1s ease-out 0.1s;
  -o-transition: all 0.1s ease-out 0.1s;
  -ms-transition: all 0.1s ease-out 0.1s;
  transition: all 0.1s ease-out 0.1s
}

.keyboard .z-row .key:first-child .label.is-hold .tap {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(.5, .5);
  -moz-transform: scale(.5, .5);
  -o-transform: scale(.5, .5);
  -ms-transform: scale(.5, .5);
  transform: scale(.5, .5);
  -webkit-transition: all 0.1s ease-out 0s;
  -moz-transition: all 0.1s ease-out 0s;
  -o-transition: all 0.1s ease-out 0s;
  -ms-transition: all 0.1s ease-out 0s;
  transition: all 0.1s ease-out 0s
}

.keyboard .z-row .key:last-child {
  /*width: 15.184381778%*/
}

.keyboard.no-label .label {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0)
}
