<div class="keyboard">
  <ng-container *ngFor="let key of keys">
    <app-button *ngFor="let k of key" [sample]="k" (triggerNote)="this.handleButtonEvent($event)"></app-button>
  </ng-container>
  <!--<app-button *ngFor="let key of keys" (triggerNote)="this.handleButtonEvent($event)"></app-button>-->
</div>