<div class="preset-details">
    <div class="container preset-detail__controls">
        <a routerLink="/dashboard" class="preset-details__back">Back to presets</a>
        <h1 class="preset__title">{{preset?.name}}</h1>
    </div>
    <div class="container">
        <div class="controls">
            <mat-form-field class="preset-select__list">
                <mat-select placeholder="Select row" [(value)]="selectedRow">
                    <mat-option [value]="0">
                        First
                    </mat-option>
                    <mat-option [value]="1">
                        Second
                    </mat-option>
                    <mat-option [value]="2">
                        Third
                    </mat-option>
                    <mat-option [value]="3">
                        Last
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <colorpicker [buttonLabel]="'Row background'" (onColorChangeHandler)="rowColorChanged($event)"></colorpicker>
            <colorpicker [buttonLabel]="'Font color'" (onColorChangeHandler)="fontColorChanged($event)"></colorpicker>
            <button (click)="saveChanges()" mat-raised-button color="primary" class="row-button">
                Apply
            </button>
        </div>
        <app-keyboard [keys]="keys" (triggerNote)="triggerNote($event)" (editSample)="onEditSampleClicked($event)"></app-keyboard>
    </div>
</div>