.preset__title {
  font-weight: 700;
  text-align: center;
  color: #444343;
  margin-top: 30px;
  font-size: 30px;
  margin-bottom: 30px;
}

.preset-detail__controls {
  min-height: 24px;
}

.row-button {
  margin-left: 15px;
}

.preset-details__back {
  text-decoration: underline;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.preset-select__list {
  font-size: 16px;
}

.controls {
  margin-bottom: 15px;
}