<div class="container">
  <h1 class="settings__title">Settings</h1>
  <div [formGroup]="settingsForm" class="settings clearfix">
    <div class="settings__controls-group">
      <mat-form-field class="settings__input">
        <input matInput placeholder="Facebook URL" formControlName="facebookUrl">
      </mat-form-field>
      <mat-form-field class="settings__input">
        <input matInput placeholder="Instagram URL" formControlName="instagramUrl">
      </mat-form-field>
      <mat-form-field class="settings__input">
        <input matInput placeholder="Pagination limit" formControlName="paginationLimit">
      </mat-form-field>
    </div>
    <button class="settings__button" mat-raised-button color="primary" (click)="approveSettings(settingsForm)">Submit</button>
  </div>
</div>