.settings__title {
  font-weight: 700;
  text-align: center;
  color: #444343;
  margin-top: 30px;
  font-size: 30px;
  margin-bottom: 30px;
}

.settings__controls-group {
  font-size: 15px;
}

.settings__input {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}
