<div class="keyboard">
  <div class="row" *ngFor="let key of keys">
    <app-keyboard-button *ngFor="let k of key" [sample]="k" (triggerNote)="playNote($event)" (editSample)="editSampleHandler($event)"></app-keyboard-button>
  </div>
</div>