.edit-sample__colorpicker {
  visibility: hidden;
  position: absolute;
  width: 115px;
  left: 0;
}

.colorpicker__container {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  width: 120px;

  & button {
    width: 100%;
  }
}

.sample__file {
  margin-bottom: 15px;
}

.full-width {
  width: 100%;
  font-size: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.edit-sample__button {
  width: 120px;
  font-size: 18px;
  text-transform: uppercase;
}

.mat-dialog-title {
  margin-top: 6px;
}

.mat-dialog-actions {
  padding: 0 20px 30px;
}

.mat-dialog-content {
  padding: 0 45px 25px;
  width: 470px;
  height: 215px;
  overflow: hidden;
}

.preview__container {
  text-align: center;
}

.preview__item {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 103px;
  height: 101px;
  transition: all 0.1s ease-out;

  &.active {
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    transform: scale(.81,.81);
    transition-duration: .05s;
  }
}

.preview__item-text {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  padding: 0 5px;
  transform: translateX(-50%) translateY(-50%);
  font-size: 14px;
  overflow-wrap: break-word;
  text-transform: uppercase;
  letter-spacing: 1px;
}
