<h1 mat-dialog-title>{{data?.title}}</h1>
<mat-dialog-content>
    <div class="preview__container">
        <div class="preview__item" [style.background]="color" [style.color]="fontColor" [ngClass]="{'active': active}"
             (mousedown)="playSample()" (mouseup)="removeActiveClass()" (mouseleave)="removeActiveClass()">
            <span class="preview__item-text">{{ sampleForm.value.title }}</span>
        </div>
    </div>

    <form [formGroup]="sampleForm">
        <mat-form-field class="full-width">
            <input matInput placeholder="Title" formControlName="title">
        </mat-form-field>
        <div class="sample__file">
            <file-input [inputLabel]="'Choose sample:'" (onFileDropHandler)="fileDropped($event)"></file-input>
            <colorpicker [buttonLabel]="'Background'" [color]="color" (onColorChangeHandler)="color = $event"></colorpicker>
            <colorpicker [buttonLabel]="'Font color'" [buttonColor]="'primary'" [color]="fontColor" (onColorChangeHandler)="fontColor = $event"></colorpicker>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="edit-sample__button" mat-raised-button color="primary" [disabled]="!sampleForm.value.title"
            (click)="onOkClose()">Ok
    </button>
    <span class="spacer"></span>
    <button class="edit-sample__button" mat-raised-button (click)="onNoClick()">Cancel</button>
</mat-dialog-actions>