.controls {
  background: #fff;
  overflow: hidden;
  padding: 12px 24px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: row-resize;
}

.controls span {
  display: inline-block
}

.controls .left, #header .controls .right {
  cursor: default
}
