<!--&lt;!&ndash;Resizer&ndash;&gt;-->
<!--<div class="controls js-resize-header">-->
  <!--<div class="left padding-top-12 padding-bottom-12">-->
    <!--<button samp-tooltip="Press SHIFT"-->
            <!--class="button js-record-button icon-only margin-right-4">-->
      <!--<i class="fa fa-circle"></i>-->
    <!--</button>-->
    <!--<button samp-tooltip="Press SPACE"-->
            <!--class="button icon-only margin-right-8 js-play-button">-->
      <!--<i class="fa fa-play icon-play"></i>-->
      <!--<i class="fa fa-stop-circle icon-stop">-->
      <!--</i>-->
    <!--</button>-->
    <!--<span class="time-wrap">-->
                    <!--<span class="js-play-time-text margin-right-4">00.00</span>-->
                    <!--<span class="margin-right-4">/</span>-->
                    <!--<span class="js-duration-text">00.00</span>-->
            <!--</span>-->
  <!--</div>-->
  <!--<div class="right">-->
    <!--<div class="metronome js-toggle-metronome active margin-right-4"></div>-->
    <!--<button class="button text-only js-settings-button">-->
      <!--<span class="js-bpm-text">130</span>-->
      <!--<span class="margin-right-4">&nbsp;bpm</span>-->
      <!--<span class="margin-right-4">/</span>-->
      <!--<span class="js-bar-count-text">4</span>-->
      <!--<span class="js-bar-count-label">&nbsp;bars</span>-->
    <!--</button>-->
  <!--</div>-->
<!--</div>-->
<input type="range" min="70" max="150" (change)="this.inputHandler($event)">