body {
    background: #f7f8fd;
}

.clearfix::after,
.clearfix::before {
    content: '';
    display: block;
    clear: both;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

p.notDesktop {
    width: 100%;
    text-align: center;
    height: 60px;
    font-size: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    display: none;
}

.js_my_projects_item {
    span.loggedIn {
        display: none;
        visibility: hidden;
    }

    span.logout {
        display: inline-block;
        visibility: visible;
    }

    &.loggedIn {
        display: inline-block;
        visibility: visible;

        span.loggedIn {
            display: inline-block;
            visibility: visible;
        }

        span.logout {
            display: none;
            visibility: hidden;
        }
    }
}

.hidden {
    display: none !important;
}

.button-fb {
    font-style: normal;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    padding: 0px;
    border-width: 0px;
    border-radius: 0px;
    text-align: center;
    outline: none;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    height: 30px;
    text-decoration: none;
    background-color: transparent;

    &:hover {
        img {
            opacity: .9;
            transition: opacity .3s;
        }
    }

    img {
        transition: opacity .3s;
        opacity: .7;
    }
}

.social-item--fb {
    display: none;
}

span#select2-inputCity-container {
    font-size: 13px;
    color: #121212;
}

.toast-message {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
}

.user__logo {
    display: inline-block;
    width: 30px;
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 8px;

    &.empty {
        border: 1px solid dimgrey;
    }
}

.main {
    &.notLoggedIn {
        display: none;
        visibility: hidden;
    }
}
