.classified-record {
    padding-bottom: 0px;
    overflow: hidden;
    height: calc(100vh - 76px);
    min-height: 797px;

    > .container {
        height: 479px;
    }
}

.mixer-line {
    width: 100%;
    @extend %clfix;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.box-key-btn {
    width: 94px;
    height: 94px;
    position: relative;
    margin: 1px;

    &.active {
        button {
            transform: scale(.8);
        }
    }

    button {
        width: 100%;
        height: 100%;
        position: absolute;
        transition: transform .2s;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: none;
        background: none;
    }
}

/*  */
.mixer-board {
    margin: 25px 0;
}

.mixer-controls-box {
    height: 51px;
    background-color: #ffffff;
    border-top: 1px solid #eeeef3;
    overflow: hidden;
    @extend %clfix;

    &.disable {
        pointer-events: none;
        opacity: .5;
    }
}

.controls-rights {
    float: right;
    padding-top: 5px;
}

.controls-left {
    float: left;
    @extend %clfix;

    > button, > div {
        float: left;
    }
}

.btn-record,
.btn-play-stop,
.add-loop {
    border: none;
    border-radius: 4px;
    position: relative;

    &:before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}

.btn-play-stop {
    width: 35px;
    height: 26px;
    background: #232323;

    transition: background .5s;
    position: relative;

    &:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 8px;
        border-color: transparent transparent transparent #ffffff;
    }

    &.active {
        &:before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px;
            border-color: #ffffff;
        }
    }

    &:hover {
        background: #434343;
    }
}

.btn-record {
    width: 35px;
    height: 26px;
    background: #ff6f48;
    transition: background .5s;


    &:before {
        width: 8px;
        height: 8px;
        background: #fff;
        border-radius: 50%;
    }

    &.active {
        &:before {
            width: 0;
            height: 0;
            border-style: solid;
            border-radius: 0;
            border-width: 5px;
            border-color: #ffffff;
        }
    }

    &:hover {
        background: #ff8260;
    }
}

.btn-clear,
.btn-download,
.btn-save {
    position: relative;
    border: none;
    height: 21px;
    padding: 0 20px 0 30px;
    user-select: none;

    &.notActive {
        display: none;
        visibility: hidden;
    }

    &:before {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 5px;
        margin: auto 0;
        width: 21px;
        height: 21px;
        opacity: 1;
        transition: opacity .5s;
    }

    &:hover:before {
        opacity: 0.85;
        transition: opacity .5s;
    }
}

.btn-save {
    &:before {
        background-image: url("~images/save_project.png");
    }
}


.btn-download {
    &:before {
        background-image: url("~images/save_project.png");
    }
}

.btn-clear {
    &:before {
        background-image: url("~images/clear.png");
    }
}

/* */

.mixer-controls-box {
    .container {
        padding: 12px 0;

        .controls-rights {
            button {
                cursor: pointer;
                background-color: transparent;
            }
        }
        .controls-left {
            button, p {
                margin: 0 5px;
                cursor: pointer;
            }

            .metronome, .add-loop {
                width: 35px;
                height: 26px;
                border: none;
                border-radius: 4px;
                background: #b9b9b957;
            }
        }
    }
}


.main {
    @extend %clfix;
}

body .select2-container {
    margin-bottom: 10px;
}

body .select2-container--default .select2-selection--single {
    border: 1px solid #e0e0e0;
}

body .select2-dropdown {
    border: 1px solid #e0e0e0;
}


.pop-up-project {
    .select2-container--default .select2-selection--single .select2-selection__placeholder, .select2-selection__rendered {
        font-size: 12px;
        color: #444444;
        font-family: 'Roboto', 'sans-serif';
        font-weight: 300;
    }
    .select2-results__option {
        color: #444444;
    }

    .select2-selection__rendered {
    font-weight: 400;
    color: black !important;
}

    .select2-container--default .select2-results__option--highlighted[aria-selected], .select2-results__option {
        font-size: 14px;
        font-family: 'Roboto', 'sans-serif';
    }
}

.composition .classified-record {

    .box-runners {
        min-height: 175px;
        height: calc(100% - 567px);
    }

    > .container {
        height: 515px;
    }
}

.select-box-h1 {
    padding: 0 0 20px;
}
