.js-info-user,
.js-button-fb {
    display: none;

    &.active {
        display: block;
    }
}

.info-user {
    padding: 0;

    span {
        font-size: 14px;
        font-family: 'Roboto', 'sans-serif';
        font-weight: 400;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }

    button {
        display: inline-block;
        vertical-align: middle;
    }
}
