@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.footer {
    &-logos__items {
        padding-right: 2.155%;
        padding-left: 2.155%;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

#home {
    .footer {
        &-logos__items {
            padding-right: 2.45%;
            padding-left: 2.45%;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.footer {
    height: 189px;
    margin-top: 30px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;

    &-sponsored {
        box-sizing: border-box;
        height: 156px;
        padding-top: 25px;
        background-color: #fff;
        text-align: center;
    }

    &-sponsored__text {
        position: relative;
        display: inline-block;
        padding-bottom: 10px;
        color: #3d3d3d;
        font-size: 13px;
        font-family: 'Roboto', 'sans-serif';
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: -20px;
            right: -20px;
            margin: auto;
            background: rgba(201, 201, 201, 0.15);
            opacity: .8;
            border-radius: 5px;
            width: 152px;
            height: 1px;
            border-bottom: 1px solid rgba(201, 201, 201, 0.10);
        }
    }

    &-logos {
        margin: 40px 0 0;
        padding: 0;
        width: 100%;
        //display: table;

        @include clearfix();
    }

    &-logos__items {
        //display: table-cell;
        //width: 14.285%;
        float: left;

        img {
            display: inline-block;
            height: 36px;
            width: auto;
        }

        a {
            display: block;
        }

        &:first-child {
            text-align: left;

            //img {
            //    width: 96px;
            //    height: 23px;
            //}
        }

        &:nth-child(2) {
            text-align: left;
            //padding-left: 50px;

            //img {
            //    width: 28px;
            //    height: 36px;
            //}
        }

        &:nth-child(3) {
            text-align: left;
            //padding-left: 20px;

            //img {
            //    height: 36px;
            //}
        }

        &:nth-child(4) {
            text-align: left;
            //padding-right: 50px;
        }
    }

    &-copyright {
        height: 33px;
        color: #b9b9b9;
        background: #f4f4f4;
    }

    &-copyright__list {
        margin: 0;
        padding: 15px 0 0;
        float: right;
        font-size: 0;
    }

    &-copyright__list-item {
        position: relative;
        padding: 0 9px;
        display: inline-block;
        font-size: 9px;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;

        &::after {
            content: '';
            display: block;
            right: 0;
            top: 0;
            bottom: 0;
            width: 1px;
            background: #b9b9b9;
            position: absolute;
        }

        &:last-child::after {
            display: none;
        }

        & > a {
            color: #b9b9b9;
        }
    }
}


@media (max-width: 2400px) {
    .footer-logos__items {
        padding-right: 1.9%;
        padding-left: 1.9%;
    }

}

@media (max-width: 1400px) {

    #home .footer-logos__items {
        padding-right: 1.2%;
        padding-left: 1.2%;
    }
}

@media screen and (max-width: 1260px) {
    .footer {
        &-logos__items {

            &:first-child {
                padding-left: 1.2%;
            }

            &:last-child {
                padding-right: 1.2%;

            }
        }
    }

    .footer-logos__items {
        padding-right: 1.2%;
        padding-left: 1.2%;
    }
}

@media screen and (max-width: 1180px) {


    #home {
        .footer {
            &-logos__items {

                &:first-child {
                    padding-left: 1.2%;
                }

                &:last-child {
                    padding-right: 1.2%;

                }
            }
        }
    }
}
