.main--frontpage {
  padding-top: 0;
  padding-bottom: 186px;
  background: #f8f8fa;
}

.front-wrapper {
  width: 1366px;
  height: 687px;
  margin: auto;
}

.front-footer__container {
  width: 1366px;
  margin: auto;
}

.front-part {
  width: 33.33%;
  height: 100%;
  float: left;
}

.front-part__bottom.front-part__bottom--first,
.front-part__top.front-part__top--second,
.front-part__bottom.front-part__bottom--last {
  img {
    height: 100%;
    width: 100%;
  }
}

.front-part__bottom.front-part__bottom--first {
  height: 243px;
}

.front-part__top.front-part__top--second {
  height: 455px;
}

.front-part__bottom.front-part__bottom--last {
  height: 481px;
}

.front-part:hover > .front-part__bottom--first,
.front-part:hover > .front-part__top--second,
.front-part:hover > .front-part__bottom--last {
  &::before {
    height: 100%;
  }
}

.front-part:hover .front-part__content {
  opacity: 1;
  visibility: visible;
}

.front-part__top--first {
  position: relative;
  height: calc(100% - 243px);
  background: #4bc478;
  z-index: 0;
}

.front-part__bottom--first {
  position: relative;

  &::before {
    content: '';
    display: block;
    height: 57px;
    background: inherit;
    opacity: .5;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    transition: height .2s linear;
    //transition-delay: .2s;
  }
}

.front-part:hover > .front-part__top--second::after {
  height: 100px;
}

.front-part__bottom--second {
  background: #ecdf39;
  height: calc(100% - 455px);
  position: relative;

  .front-part__content {
    margin-top: -150px;
  }
}

.front-part__top--second {
  position: relative;

  &::after {
    content: '';
    display: block;
    height: 0;
    background: inherit;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transition: height .2s linear;
  }

  &::before {
    content: '';
    display: block;
    height: 57px;
    background: inherit;
    opacity: .5;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transition: height .2s linear;
  }
}

.front-part:hover > .front-part__bottom--last::after {
  height: 140px;
}

.front-part__top--last {
  background: #e5472e;
  height: calc(100% - 481px);
  position: relative;

  .front-part__content {
    margin-top: -45px;
  }
}

.front-part__bottom--last {
  position: relative;

  &::after {
    content: '';
    display: block;
    height: 0;
    background: inherit;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    transition: height .2s linear;
  }

  &::before {
    content: '';
    display: block;
    height: 57px;
    background: inherit;
    opacity: .5;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    transition: height .2s linear;
  }
}

.front-part__content {
  opacity: 0;
  width: 345px;
  height: 260px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: - 90px;
  margin-left: -170px;
  visibility: hidden;
  color: #fff;
  font-size: 55px;
  transition: opacity .2s linear;
  z-index: 1;

  & > strong {
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
      font-size: 70%;
  }

  & > span {
    display: block;
    text-align: right;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 100;
      font-size: 63%;
  }
}

.front-part__content-controls {
  margin-left: 70px;
  margin-top: 10px;
  font-size: 0;

  & > img {
    display: inline-block;
    cursor: pointer;
  }

  & > a {
    color: #fff;
    vertical-align: middle;
    display: inline-block;
    opacity: .7;
    transition: opacity linear .2s;

    &:hover {
      opacity: 1;
    }
  }
}

.front-part__play-video {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 10px;
  width: 55px;
  height: 45px;
  font-size: 57px;
  cursor: pointer;

}

@media screen and (min-width: 0) {
  .front-wrapper {
    width: 980px;
  }

  .front-footer__container {
    width: 980px;
  }

  .front-part__content {
    width: 100%;
    font-size: 45px;
    padding-left: 15px;
  }

  .front-part__bottom.front-part__bottom--last {
    height: 467px;
  }

  .front-part__bottom.front-part__bottom--first {
    height: 295px;
  }

  .front-part__top--last {
    height: calc(100% - 467px);
  }

  .front-part__top--first {
    height: calc(100% - 295px);
  }
}

@media screen and (min-width: 1180px) {
  .front-wrapper {
    width: 1140px;
  }

  .front-footer__container {
    width: 1140px;
  }

  .front-part__top--last {
    height: calc(100% - 474px);
  }

  .front-part__top--first {
    height: calc(100% - 275px);
  }

  .front-part__bottom.front-part__bottom--last {
    height: 481px;
  }

  .front-part__bottom.front-part__bottom--first {
    height: 275px;
  }

  .front-part__content {
    width: 340px;
    padding-left: 0;
  }
}

@media screen and (min-width: 1400px) {
  .front-wrapper {
    width: 1366px;
  }

  .front-footer__container {
    width: 1366px;
  }

  .front-part__content {
    //width: 325px;
    font-size: 55px;
    //padding-left: 0;
  }

  .front-part__top--last {
    height: calc(100% - 481px);
  }

  .front-part__top--first {
    height: calc(100% - 243px);
  }

  .front-part__bottom.front-part__bottom--first {
    height: 243px;
  }
}

.front-footer__container, .container, .front-wrapper, .main, body {
    min-width: 1180px !important;
}

.front-wrapper {
    overflow: hidden;
}
