.header {
    width: 100%;
    height: 76px;
    background-color: #fff;

    &-logo {
        position: absolute;
        top: 22px;
        left: 0;
        z-index: 6;

        &__img {

        }
    }
}

.header__logout {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #696969;
    text-align: center;
    line-height: 28px;
    border-radius: 50%;
    cursor: pointer;

    & > img {
        display: inline-block;
        width: 16px;
    }
}

.js-info-user .info-user {
    display: inline-block;
}

.front-part__image {
    display: block;
    width: 100%;
}

.nav {
    float: right;
    padding-top: 25px;
}

.menu {

    &-list {
        margin-right: 60px;
        padding: 0;
        display: inline-block;
        vertical-align: middle;
        @extend %clfix;
    }

    &-item {
        float: left;
        margin-right: 55px;

        &:last-child {
            margin-right: 0;
        }


        &__link {
            display: block;
            position: relative;
            text-transform: uppercase;
            font-family: 'Roboto', 'sans-serif';
            font-weight: 500;
            color: #232323;
            padding: 10px 0;

            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                margin: auto;
                bottom: 0;
                height: 2px;
                background: #ff6f48;
                transition: width .2s linear;
            }

            &:hover::after {
                width: 20px;
            }

            &.active::after {
                width: 20px;
            }
        }
    }
}

.social {

    &-list {
        display: inline-block;
        vertical-align: middle;
        @extend %clfix;
    }

    &-item {
        float: left;
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }

        &__link {
            opacity: .8;
            transition: opacity .2s linear;

            &:hover {
                opacity: 1;
            }
        }
    }
}
