#name-popup.white-popup,
#info-popup.white-popup {
    border-radius: 6px;
    border: 1px solid #d6d6d6;
    background: #f3f3f3;
    padding: 30px;
    @extend %clfix;

    form {
        @extend %clfix;
    }

    .mfp-close {
        color: #434343;
        opacity: 1;
        transition: opacity .5s;
        font-style: normal;
        font-size: 23px;
        font-family: 'Roboto', 'sans-serif';

        &:hover {
            opacity: .85;
        }
    }

    h1, label {
        text-transform: uppercase;
        color: #262626;
        font-size: 14px;
        font-family: 'Roboto', 'sans-serif';
        font-weight: 300;
        margin-bottom: 5px;
        display: block;
    }

    input {
        border-radius: 4px;
        border: 1px solid #e0e0e0;
        height: 26px;
        width: 100%;
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .inp-checkbox {
        border-radius: 4px;
        border: 1px solid #e0e0e0;
        height: 16px;
        width: 16px;
        margin-left: 0;
    }

    button.btn {
        background: #666666;
        color: #f7f7f7;
        text-transform: uppercase;
        border-radius: 5px;
        margin: auto;
        padding: 7px 20px;
        width: auto;
        float: right;
        opacity: 1;
        transition: opacity .5s;

        &:hover {
            opacity: .85;
        }
    }

}
