.projects {
  width: 980px;
  margin: auto;
}

.projects__list {
  clear: both;
}

.projects__item-logo {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  width: 135px;
  min-height: 135px;
  margin-right: 5px;
  background: #4bc478;
  background-size: contain;
}

.projects__item-logo-text {
  color: #7d7d7d;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translateX(-20%) translateY(-130%) rotate(-16deg);
  font-size: 14px;
  text-transform: uppercase;
}

.projects__description-width {
  width: calc(100% - 200px);
}

.projects__item {
  font-size: 0;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.projects__description {
  position: relative;
  box-sizing: border-box;
  padding: 30px 15px 15px 20px;
  display: inline-block;
  vertical-align: top;
  min-height: 135px;
  height: 100%;
  background: #fdedeb;
  color: #232323;
}

.projects__description-play {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 15px;

  & > img {
    display: inline-block;
    cursor: pointer;
    opacity: .8;
    transition: opacity .2s linear;

    &:hover {
      opacity: 1;
    }
  }
}

.projects__description-stop {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background: #f86948;
  border-radius: 50%;

  &::after {
    position: absolute;
    left: 15px;
    top: 15px;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: #fff;
  }
}

.projects__description-title {
  color: #ff6f48;
  font-size: 21px;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 500;
}

.projects__description-name {
  font-size: 17px;
  font-family: 'Open Sans', 'sans-serif';
}

.projects__description-author {
  margin-top: 7px;
  font-size: 12px;
  font-family: 'Open Sans', 'sans-serif';

  & > strong {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
  }
}

.projects__description-text {
  width: 470px;
  float: left;
}

.projects__description-date {
  font-size: 16px;
  float: left;
  font-family: 'Open Sans', 'sans-serif';
}

.projects__description-text > p {
  background: #fff;
  display: inline-block;
  padding: 2px 15px 2px 5px;
  max-width: 100%;

  strong {
    font-weight: bold;
  }
}

.projects__description-rating {
  float: right;
  height: 100%;
  min-width: 120px;
  text-align: center;
}

.projects__description-tag {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  font-size: 12px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 15px;
  background: #999999;
}

.projects__description-content{
  min-height: 90px;
  position: relative;
}

.projects__stars-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.projects__stars-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;

  &:last-child {
    margin-right: 0;
  }
}

.projects__controls {
  width: 95px;
  position: absolute;
  top: 0;
  right: -95px;
}

.projects__button {
  display: block;
  margin-bottom: 2px;
  text-transform: uppercase;
  padding: 9px 10px;
  font-size: 13px;
  cursor: pointer;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 400;
  transition: background .2s linear;
  color: #fff;
  //
  //&:nth-child(even) {
  //  color: #696868;
  //  background: #a1a1a1;
  //  transition: background .2s linear;
  //
  //  &:hover {
  //    background: #999999;
  //  }
  //}

  &:hover {
    background: #999999 !important;
  }

  //&:nth-child(odd) {
  //  color: #fff;
  //  background: #4bc478;
  //  transition: background .2s linear;
  //
  //  &:hover {
  //    background: #45b56d;
  //  }
  //}

  &:last-child {
    margin-bottom: 0;
  }

  //&--delete {
  //  background: #ff6f48 !important;
  //}
}