.box {
    &-runners {
        position: relative;
        min-height: 225px;
        height: calc(100% - 530px);
        overflow: scroll;
    }
}

.runners {
    background-color: #e1f2fc;
    @extend %clfix;
    width: calc(100% - 200px);
    float: right;
    min-height: 100%;
    position: relative;
    height: auto;

    .record-active {
        height: 47px;
        width: 15px;
        background: #7e859cad;
        position: absolute;
        right: 31px;
        z-index: 999;
        cursor: pointer;

        &:before {
            position: absolute;
            content: 'active';
            display: block;
            color: #fff;
            transform: rotate(-90deg);
            top: 17px;
            right: -10px;
            font-family: 'Roboto', 'sans-serif';
            font-weight: 500;
            font-size: 14px;
        }
    }

    .track {
        font-family: 'Roboto', 'sans-serif';
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        border: none;
        background: transparent;
        width: 140px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 48px;
        margin-left: -12px;
        margin-top: -12px;

        .bar {
            width: 2px;
            margin-right: 2px
        }
    }

    .placeholder {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        color: #979eae;
        font-size: 15px;
        margin-top: -16px;
        line-height: 48px;
        display: none
    }

    .runner {
        width: 100%;
        border-bottom: 1px solid #fff;
        box-sizing: border-box;
        height: 48px;
        position: relative;


        &.active {
            background: #bed2ff;

            .action-active {
                background: #ff8260 !important;
            }
        }

        &.muted .hit {
            background: #cbcfd7 !important
        }

        .actions {
            z-index: 5;
            position: absolute;
            top: 0;
            height: 100%;
            border-bottom: 1px solid #fff;
            box-sizing: border-box;
            background: #f4f6fe;
            -ms-filter: none;
            filter: none;
            left: -200px;
            width: 200px;


            .track {
                position: absolute;
                left: 5px;
                top: 0;
                bottom: 0;
                margin: auto;
                display: inline-block;
                height: 16px;
                padding: 0 10px;
            }

            .action {
                background: #cdcdcd;
                color: #fff;
                height: 15px;
                line-height: 15px;
                text-align: center;
                width: 52px;
                cursor: pointer;
                text-transform: uppercase;
                margin: 0 0 1px auto;
                font-family: 'Roboto', 'sans-serif';
                font-weight: 500;
                font-size: 9px;


                &:hover {
                    background: #bdbdbd;
                    transition-duration: 0s
                }

                &:active {
                    opacity: .5 !important;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)" !important;
                    filter: alpha(opacity=50) !important;
                    transform: scale(.75, .75)
                }

                &.active {
                    background: #ff7b6d
                }
            }
        }

        .recording-progress {
            z-index: 1;
            background: #ffe3e0;
            border-right: 1px solid #ff7b6d;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0
        }
    }

    .hit {
        z-index: 3;
        border-style: solid;
        border-width: 0;
        box-sizing: border-box;
        cursor: -moz-grab;
        cursor: -webkit-grab;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 1;
        -ms-filter: none;
        filter: none;
        transition: background 0.2s ease-out;
        width: 8px;

        &:hover {
            border-width: 1px
        }

        &.active {
            border-width: 2px !important
        }

        &.dragging {
            z-index: 4;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
            opacity: .4;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
            filter: alpha(opacity=40)
        }
    }

    .progress-bg {
        background: rgba(255, 220, 211, .1);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0
    }

    .progress-line {
        z-index: 4;
        background: #e1e3ee;
        display: none;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 1px;

        &.active {
            display: block
        }
    }

    .beat-line {
        z-index: 2;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 0;
        border-right: 1px dashed #d5d9e9;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        transition: opacity 0.1s ease-out;

        &.major {
            border-style: solid
        }
    }

    &.show-placeholder {
        .beat-line {
            display: none
        }
        .placeholder {
            display: block
        }
    }

    &:hover .beat-line {
        opacity: 1;
        -ms-filter: none;
        filter: none
    }

    .action {

        &-mute,
        &-solo,
        &-delete {
            padding: 1% 0;

            svg {
                height: 90%;
                width: auto;
                fill: #fff;
            }
        }

        &-mute svg {

        }

        &-solo svg {

        }

        &-delete svg {

        }
    }
}
