.select-box {
    margin: auto;
    position: relative;
    z-index: 999;

    //position: absolute;
    //display: inline-block;
    //top: 50%; left: 50%;
    //transform: translate(-50%, -50%);

    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;

    &-h1 {
        font-family: 'Roboto', 'sans-serif';
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
    }

&.hide {
    opacity: 0;
    pointer-events: none;
}

    /** Custom Select **/
    .custom-select-wrapper {
        position: relative;
        display: inline-block;
        user-select: none;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .custom-select-wrapper select {
        display: none;
    }
    .custom-select {
        position: relative;
        display: inline-block;
    }
    .custom-select-trigger {
        position: relative;
        display: block;
        padding: 17px 56px 13px 22px;
        width: 470px;
        min-height: 45px;
        border: 1px solid #e2e2e2;
        background-color: #ffffff;
        border-radius: 4px;
        cursor: pointer;
        font-size: 13px;
        text-transform: uppercase;
        color: #3a3a3a;
    }
    .custom-select-trigger:after {
        position: absolute;
        display: block;
        content: '';
        width: 10px; height: 10px;
        top: 50%; right: 25px;
        margin-top: -3px;
        border-bottom: 1px solid #4c4c4c;
        border-right: 1px solid #4c4c4c;
        transform: rotate(45deg) translateY(-50%);
        transition: all .4s ease-in-out;
        transform-origin: 50% 0;
    }
    .custom-select.opened .custom-select-trigger:after {
        margin-top: 3px;
        transform: rotate(-135deg) translateY(-50%);
    }
    .custom-options {
        position: absolute;
        display: block;
        top: 100%; left: 0; right: 0;
        min-width: 100%;
        margin: 6px 0;
        border: 1px solid #d8dbd9;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: 0 2px 1px rgba(0,0,0,.07);
        background: #fff;
        transition: all .4s ease-in-out;
        font-weight: 400;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(-15px);

    }
    .custom-select.opened .custom-options {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translateY(0);
    }

    .option-hover:before {
        background: #f9f9f9;
    }
    .custom-option {
        color: #3a3a3a;
        position: relative;
        display: block;
        //padding: 0 22px;
        border-bottom: 1px solid #f4f4f4;
        padding: 13px 20px;
        //color: #b5b5b5;
        //line-height: 43px;
        cursor: pointer;
        transition: all .4s ease-in-out;

        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .custom-option:first-of-type {
        border-radius: 4px 4px 0 0;
    }
    .custom-option:last-of-type {
        border-bottom: 0;
        border-radius: 0 0 4px 4px;
    }
    .custom-option:hover,
    .custom-option.selection {
        background: #ecdf39;
        color: #fff;
    }


}
