.settingsBar {
    user-select: none;
    font-family: 'Open Sans', 'sans-serif';
    text-transform: lowercase;
    font-size: 14px;
    padding: 1px 20px;
    @extend %clfix;

    > div {
        padding-right: 20px;
    }

    input {
        border: 1px solid #e7e6e6;
        height: 26px;
        padding: 4px 12px 4px 4px;
        border-radius: 3px;
        color: #7b7b7b;
    }

    label {
        text-transform: uppercase;
        color: #232323;
        font-size: 13px;
        padding-right: 5px;
    }

    &-BPM {
        float: left;
        margin: 0 5px;
        input {
            width: 43px;
        }
    }
    &-Bars {
        float: left;
        margin: 0 5px;
        input {
            width: 36px;
        }
    }
    &-TimeSig {
        float: left;
        margin: 0 5px;
        input {
            width: 36px;
        }

    }

    .play-time {
        span {
            font-size: 11px;
        }

        margin-right: 5px;
    }
    .duration-time {
        span {
            font-size: 11px;
        }
    }
}

.inpBars {
    user-select: none;
}

.time-wrap {
    display: inline-block;
    padding: 6px 5px;
}
