.edit-preset__form {
  width: 400px;
  height: 155px;
}

.edit-preset__input {
  width: 100%;
  font-size: 16px;
}

.edit-preset__button-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.edit-preset__button {
  width: 120px;
  font-size: 18px;
  text-transform: uppercase;
}

.mat-dialog-title {
  margin-top: 6px;
}

.mat-dialog-actions {
  padding: 0 20px 30px;
}

.mat-dialog-content {
  padding: 25px 45px;
}