<h1 mat-dialog-title>{{data?.title}}</h1>
<mat-dialog-content>
    <form [formGroup]="presetForm" class="edit-preset__form">
        <mat-form-field class="edit-preset__input">
            <input matInput placeholder="Title" formControlName="name">
        </mat-form-field>
        <mat-form-field class="edit-preset__input">
            <input matInput placeholder="Font size" formControlName="fontSize" type="number">
        </mat-form-field>
        <div class="edit-preset__button-group">
            <file-input [inputLabel]="'Preset logo:'" class="edit-preset__file-input" (onFileDropHandler)="logoImage = $event"></file-input>
            <span class="spacer"></span>
            <file-input [inputLabel]="'Background image:'" (onFileDropHandler)="backgroundImage = $event"></file-input>
        </div>
        <div class="edit-preset__button-group">
            <file-input [inputLabel]="'Preset video:'" (onFileDropHandler)="video = $event"></file-input>
            <span class="spacer"></span>
            <colorpicker [buttonLabel]="'Preset color:'" [buttonColor]="'primary'" (onColorChangeHandler)="color = $event" [color]="color"></colorpicker>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="edit-preset__button" mat-raised-button color="primary" (click)="onOkClose()"
            [disabled]="!presetForm.value.name">Ok
    </button>
    <span class="spacer"></span>
    <button class="edit-preset__button" mat-raised-button (click)="onNoClick()">Cancel</button>
</mat-dialog-actions>