<div class="key" [ngClass]="{'active': active, 'empty': !sample?.sample}" [ngStyle]="{'backgroundColor': sample.color}" >
  <div class="key__container" (mousedown)="setActiveClass()" (mouseup)="removeActiveClass()" (mouseleave)="removeActiveClass()">
      <div class="key__map">{{sample?.key}}</div>
      <div class="key__title" [ngStyle]="{'color': sample.fontColor}">{{sample?.title}}</div>
  </div>
  <mat-icon class="keyboard-button__settings" (click)="editSampleHandler()">settings</mat-icon>
</div>