.key {
  width: 8.333333333333334%;
  height: 100%;
  display: inline-block;
  position: relative;
  transition: all 0.1s ease-out;
  box-sizing: border-box;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;

  & > div {
    height: 100%;
  }

  &.active {
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    transform: scale(.81,.81);
    transition-duration: .05s;
  }
  
  &.empty {
    background: #eef0fa;
  }

  &:hover .keyboard-button__settings {
    opacity: .7;
  }
}

.key__container {
  position: relative;
}

.key__map {
  position: absolute;
  left: 1px;
  top: 1px;
  color: #fff;
  padding: 2px 5px;
  border-radius: 3px;
  background: #444343;
}

.key__title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.keyboard-button__settings {
  //display: none;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 5;
  cursor: pointer;
  text-shadow: 1px 1px 4px #969696;
  color: #fff;
  opacity: 0;
  transition: opacity .2s linear;
}