.spacer {
  flex: 1 1 auto;
}

.mat-dialog-title {
  margin-top: 6px;
}

.mat-dialog-actions {
  width: 280px;
  padding: 0 20px 30px;
}

.mat-dialog-content {
  padding: 25px 45px;
}

.confirm__button {
  width: 120px;
  font-size: 18px;
  text-transform: uppercase;
}