<h1 mat-dialog-title>{{data?.title}}</h1>
<mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onOkClose()" class="confirm__button">Ok</button>
    <div class="spacer"></div>
    <button mat-raised-button color="primary" (click)="onNoClick()" class="confirm__button">Cancel</button>
</mat-dialog-actions>