<div id="header">
    <!--header content-->
    <div class="header-content">
        <div class="title-wrap js-title-wrap">
            <h1 class="js-project-title"></h1>
            <div class="meta-text">
                <span class="margin-right-4">by</span>
                <a href="/"
                   target="_blank"
                   class="js-project-author"></a>
            </div>
        </div>
        <div class="input-group js-title-input-wrap animate-in">
            <div class="flex-input">
                <div class="stretch">
                    <input type="text"
                           placeholder="Name this project ..."
                           maxlength="40"
                           class="js-title-input">
                </div>
                <div class="post">
                    <button class="button dark js-save-button"><span>Save</span>
                        <div class="loader">
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                        </div>
                    </button>
                </div>
            </div>
            <div class="message">That title is already taken.</div>
        </div>
        <div style="display:none"
             class="edit-wrap js-edit-buttons">
            <button class="button dark margin-right-8 js-edit-title-button"><span>Edit</span></button>
            <button class="button dark js-delete-project-button"><span>Delete</span></button>
        </div>
    </div>
    <!--<div id="logo">SAMPULATOR</div>-->

    <!--Navigation bar-->
    <div id="nav" hidden="true">
        <button class="button icon-only dark margin-right-8 js-projects-button">
            <i class="fa fa-align-center"></i>
        </button>
        <button style="display:none" class="button avatar js-user-nav-button"></button>
        <button class="button dark icon-only js-show-sign-in"><i class="fa fa-key"></i></button>
    </div>
</div>