
#header {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  //background-image: url('bg.jpg');
  //background-position: center center;
  /*    background-image: -webkit-repeating-radial-gradient(top left, #dbe0f2, #dbe0f2 1px, #979eae 1px, #fff 100%);
      background-image: -moz-repeating-radial-gradient(top left, #dbe0f2, #dbe0f2 1px, #979eae 1px, #fff 100%);
      background-image: -o-repeating-radial-gradient(top left, #dbe0f2, #dbe0f2 1px, #979eae 1px, #fff 100%);
      background-image: -ms-repeating-radial-gradient(top left, #dbe0f2, #dbe0f2 1px, #979eae 1px, #fff 100%);
      background-image: repeating-radial-gradient(to bottom right, #dbe0f2, #dbe0f2 1px, #979eae 1px, #fff 100%);*/
  /*-webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;*/
}

#header .header-content {
  position: absolute;
  top: 0;
  left: 240px;
  right: 240px;
  height: 24px;
  padding: 24px 0;
  overflow: hidden;
}

#header .header-content .title-wrap {
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  text-align: center;
  top: 24px;
  width: 100%;
  -webkit-transition: all 0.1s ease-out 0.1s;
  -moz-transition: all 0.1s ease-out 0.1s;
  -o-transition: all 0.1s ease-out 0.1s;
  -ms-transition: all 0.1s ease-out 0.1s;
  transition: all 0.1s ease-out 0.1s;
}

#header .header-content .title-wrap.active {
  opacity: 1;
  -ms-filter: none;
  filter: none
}

#header .header-content .title-wrap.animate-up {
  top: 0 !important;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0)
}

#header .header-content .title-wrap h1 {
  position: relative;
  top: 0;
  width: 100%;
  white-space: nowrap;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis
}

#header .header-content .title-wrap .meta-text {
  text-align: center;
  position: relative;
  color: #979eae;
  display: none;
  letter-spacing: 1px;
  font-size: 10px;
  text-transform: uppercase;
}

#header .header-content .title-wrap .meta-text a:hover {
  text-decoration: underline
}

#header .header-content .title-wrap.show-author h1 {
  top: -8px
}

#header .header-content .title-wrap.show-author .meta-text {
  display: block;
  top: -6px
}

#header .header-content .edit-wrap {
  width: 144px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  margin: 0;
  -webkit-transition: all 0.1s ease-out 0s;
  -moz-transition: all 0.1s ease-out 0s;
  -o-transition: all 0.1s ease-out 0s;
  -ms-transition: all 0.1s ease-out 0s;
  transition: all 0.1s ease-out 0s;
  z-index: 9999;
  position: absolute;
  left: 50%;
  top: 40px;
  margin-left: -72px;
  white-space: nowrap;
}

#header .header-content .edit-wrap .button {
  min-width: 66px;
  padding: 0
}

#header .header-content .edit-wrap.animate-up {
  top: 24px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  -o-transition-delay: .2s;
  -ms-transition-delay: .2s;
  transition-delay: .2s
}

#header .header-content .input-group {
  position: absolute;
  top: -24px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  left: 50%;
  margin-left: -120px;
}

#header .header-content .input-group.animate-in {
  top: 16px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-animation: bounceIn .3s 1;
  -moz-animation: bounceIn .3s 1;
  -o-animation: bounceIn .3s 1;
  -ms-animation: bounceIn .3s 1;
  animation: bounceIn .3s 1
}

#header .header-content .input-group.animate-out {
  top: -16px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-animation: bounceOut .3s 1;
  -moz-animation: bounceOut .3s 1;
  -o-animation: bounceOut .3s 1;
  -ms-animation: bounceOut .3s 1;
  animation: bounceOut .3s 1
}
