<!--Loops-->
<div class="loops js-loops">
  <div class="progress-bg js-progress-bg"></div>
  <div class="progress-line js-progress-line"></div>
  <div class="placeholder js-loops-placeholder">Press SHIFT to start recording</div>
  <div class="loader">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</div>
