.loops {
  position: relative;
}

.loops .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
}

.loops .loader .bar {
  width: 2px;
  margin-right: 2px
}

.loops .placeholder {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  color: #979eae;
  font-size: 15px;
  margin-top: -16px;
  line-height: 24px;
  display: none
}

.loops .loop {
  border-bottom: 1px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 48px;
  overflow: hidden;
  position: relative;
}

.loops .loop.muted .hit {
  background: #cbcfd7 !important
}

.loops .loop .show-actions-button {
  z-index: 5;
  background: rgba(127, 133, 157, 0.7);
  cursor: pointer;
  height: 16px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  width: 24px;
  -webkit-border-radius: 0 0 0 2px;
  border-radius: 0 0 0 2px;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.loops .loop .show-actions-button:hover {
  background: #7f859d;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
  transition-duration: 0s
}

.loops .loop .show-actions-button:active {
  opacity: .6 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)" !important;
  filter: alpha(opacity=60) !important;
  -webkit-transform: scale(.8, .8);
  -moz-transform: scale(.8, .8);
  -o-transform: scale(.8, .8);
  -ms-transform: scale(.8, .8);
  transform: scale(.8, .8)
}

.loops .loop .show-actions-button .dots {
  background: #fff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: block;
  height: 3px;
  left: 11px;
  position: absolute;
  top: 7px;
  width: 3px;
}

.loops .loop .show-actions-button .dots::before, .loops .loop .show-actions-button .dots::after {
  background: #fff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  width: 3px
}

.loops .loop .show-actions-button .dots::before {
  left: -5px
}

.loops .loop .show-actions-button .dots::after {
  right: -5px
}

.loops .loop .show-actions-button.active {
  background: #ff7b6d
}

.loops .loop .actions {
  z-index: 5;
  position: absolute;
  top: 0;
  right: -48px;
  height: 100%;
  border-bottom: 1px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  background: #f4f6fe;
  -webkit-transition: right 0.2s ease-out 0.05s, opacity 0.1s ease-in;
  -moz-transition: right 0.2s ease-out 0.05s, opacity 0.1s ease-in;
  -o-transition: right 0.2s ease-out 0.05s, opacity 0.1s ease-in;
  -ms-transition: right 0.2s ease-out 0.05s, opacity 0.1s ease-in;
  transition: right 0.2s ease-out 0.05s, opacity 0.1s ease-in;
}

.loops .loop .actions .action {
  background: #7f859d;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  height: 15px;
  line-height: 15px;
  margin-bottom: 1px;
  text-align: center;
  width: 48px;
  cursor: pointer;
  text-transform: uppercase;
}

.loops .loop .actions .action:hover {
  background: #c3c7d1;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
  transition-duration: 0s
}

.loops .loop .actions .action:active {
  opacity: .5 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)" !important;
  filter: alpha(opacity=50) !important;
  -webkit-transform: scale(.75, .75);
  -moz-transform: scale(.75, .75);
  -o-transform: scale(.75, .75);
  -ms-transform: scale(.75, .75);
  transform: scale(.75, .75)
}

.loops .loop .actions .action.active {
  background: #ff7b6d
}

.loops .loop .actions.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  right: 0;
  -webkit-transition: right 0.2s ease-in, opacity 0.2s ease-out 0.05s;
  -moz-transition: right 0.2s ease-in, opacity 0.2s ease-out 0.05s;
  -o-transition: right 0.2s ease-in, opacity 0.2s ease-out 0.05s;
  -ms-transition: right 0.2s ease-in, opacity 0.2s ease-out 0.05s;
  transition: right 0.2s ease-in, opacity 0.2s ease-out 0.05s
}

.loops .loop .recording-progress {
  z-index: 1;
  background: #ffe3e0;
  border-right: 1px solid #ff7b6d;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0
}

.loops .hit {
  z-index: 3;
  border-style: solid;
  border-width: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  -ms-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 8px;
}

.loops .hit:hover {
  border-width: 1px
}

.loops .hit.active {
  border-width: 2px !important
}

.loops .hit.dragging {
  z-index: 4;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  opacity: .4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40)
}

.loops .progress-bg {
  background: #eef0fa;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0
}

.loops .progress-line {
  z-index: 4;
  background: rgba(97, 102, 127, 0.2);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.loops .progress-line.active {
  display: block
}

.loops .beat-line {
  z-index: 2;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
  border-right: 1px dashed #d5d9e9;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.1s ease-out;
  -moz-transition: opacity 0.1s ease-out;
  -o-transition: opacity 0.1s ease-out;
  -ms-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
}

.loops .beat-line.major {
  border-style: solid
}

.loops.show-placeholder .beat-line {
  display: none
}

.loops.show-placeholder .placeholder {
  display: block
}

.loops:hover .beat-line {
  opacity: 1;
  -ms-filter: none;
  filter: none
}
