<div class="login">
  <form [formGroup]="userForm" class="login__form">
    <h1 class="login__form-title">Log-In</h1>
    <mat-form-field class="login__full-width">
      <input matInput placeholder="Name" formControlName="username">
    </mat-form-field>
    <mat-form-field class="login__full-width">
      <input matInput placeholder="Password" type="password" formControlName="password">
    </mat-form-field>

    <!--<div class="login__form-group">-->
      <!--<label class="login__label" for="name">Name:</label>-->
      <!--<input class="login__input" id="name" formControlName="username">-->
    <!--</div>-->
    <!--<div class="login__form-group">-->
      <!--<label class="login__label">Password:</label>-->
      <!--<input class="login__input" formControlName="password" type="password">-->
    <!--</div>-->
    <button class="login__button" mat-raised-button color="primary" (click)="loginHandler()">Submit</button>
    <!--<button class="login__button" (click)="loginHandler()">Submit</button>-->
  </form>
</div>
