.login {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: url('/assets/img/background.jpg') center no-repeat;
  font-family: Arial, 'sans-serif';
}

.login__full-width {
  width: 100%;
  font-size: 18px;
}

.login__form {
  background: rgba(255, 255, 255, 0.91);
  border: 30px solid rgba(255, 255, 255, 0);
  box-shadow: -1px 0px 29px -6px rgba(0,0,0,0.75);
  position: absolute;
  padding: 15px;
  width: 320px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.login__form-title {
  margin: 20px 0;
  font-size: 24px;
  color: #444343;
}

.login__label {
  display: inline-block;
  //font-size: 12px;
  margin-bottom: 5px;
  text-align: right;
}

.login__input {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 100%;
  border: 1px solid #000;
  color: #333333;
  outline: none;
  border-radius: 3px;
  padding-left: 5px;
}

.login__form-group {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.login__button {
  display: block;
  width: 100%;
  margin: 20px auto;
  height: 40px;
  outline: none;
  border: none;
  background: #1c75f3;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
