<!--<app-header></app-header>-->
<!--<app-keyboard [keys]="this.keys" (triggerNote)="this.triggerNote($event)"></app-keyboard>-->
<!--<app-controls (tempHandler)="this.changeTemp($event)"></app-controls>-->
<!--<app-loops></app-loops>-->
