.header {
  background: #444343;
  padding: 15px;
}

.dashboard__logout {
  float: right;
  width: 100px;
}

.dashboard__title {
  float: right;
  color: #fff;
  line-height: 36px;
  margin-right: 25px;
}

.header-navigation__list {
  margin: 0;
  padding: 0;
  font-size: 0;
  float: left;
}

.header-navigation__item {
  display: inline-block;
  font-size: 18px;

  &:last-child {
    margin-right: 0;
  }

  & > a {
    display: block;
    color: #fff;
    transition: color .1s linear;
    padding: 10px 15px;

    &:hover {
      color: #ffa488;
    }

    &.active {
      color: #ffa488;
    }
  }
}

