<header class="header clearfix">
    <div class="container">
        <ul class="header-navigation__list">
            <li class="header-navigation__item">
                <a routerLink="/dashboard/presets-list" routerLinkActive="active">Presets list</a>
            </li>
            <li class="header-navigation__item">
                <a routerLink="/dashboard/user-list" routerLinkActive="active">Users list</a>
            </li>
            <li class="header-navigation__item">
                <a routerLink="/dashboard/settings" routerLinkActive="active">Settings</a>
            </li>
        </ul>
        <button class="dashboard__logout" mat-raised-button color="primary" (click)="logoutHandler()">Log-out</button>
        <h1 class="dashboard__title">Hello Admin!</h1>
    </div>
</header>
<div class="content">
    <router-outlet></router-outlet>
</div>
